<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
     <script src="js/structure.factory.js"></script>
     <script src="js/some.factory.js"></script>
</head>
<body ng-app="someApp">
<div ng-controller="MainCtrl as main">
  Current name: {{main.someFactory.currentElement.name}}
   <div id="content">
        <div ng-repeat="button in main.someFactory.currentElement.buttons" button="button">
        <button ng-click='main.someFactory.someClickAction(button)'>{{button.action}}</button>
        </div>
    </div>
</div>
</body>
</html>